<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>random word</title>    
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">    
        <script src="{% static 'js/script.js' %}"></script>  
    </head>
    <body>

        <form action="/" method="post">
            {% csrf_token %}
           
            <h1> random word   : {{word}} </h1>
            
            <input type="submit" value="Generate">
           
         
        </form>
    
    </body>
</html>
  